@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
   font-family: "Raleway";
   src: url();
} */

@layer base {

   body {
      @apply text-cetaceanBlue text-[17px] md:text-base;
      scroll-behavior: smooth;
   }

   a {
      @apply text-cetaceanBlue;
   }

   li {
      list-style: none;
   }

   input {
      @apply p-4 border border-[#0c0b3173] rounded-xl outline-0;
   }

   input::placeholder {
      @apply text-gray;
   }

   footer {
      background: linear-gradient(to bottom, #e7e7ef 0%, #f4f4fa 5%, #fff 10%);
   }

   @media screen and (max-width: 768px) {
      footer {
         background: none;
      }
   }

}

@layer utilities {}

@layer components {
   .nav-link {
      @apply font-bold hover:text-majorelleBlue;
      text-decoration: none;
      white-space: nowrap;
   }

   .sub-link {
      @apply h-full flex items-center;
   }

   .sub-link.active-sub-link {
      @apply border-b-2 border-majorelleBlue;
   }

   .sub-link a {
      text-decoration: none;
   }

   .translate {
      box-shadow: 0 0 1px 0 #0000001f, 0 5px 10px 0 #00000029;
   }

   .btn-shadow {
      box-shadow: 0 0 1px 0 #0000001f, 0 2px 3px 0 #00000029;
   }

   .footer-socials a {
      text-decoration: underline;
   }

   .dot {
      @apply w-2 h-2 rounded-full border border-cetaceanBlue;
   }

   .dot.active {
      @apply bg-cetaceanBlue;
   }

   .card {
      @apply max-w-full rounded-2xl;
      box-shadow: 0 0 1px 0 #0000001f, 0 2px 3px 0 #00000029;
   }

   .link-underline {
      @apply underline text-majorelleBlue;
   }

   .driver-section-bg-image {
      background-image: url("https: //images.ctfassets.net/q8mvene1wzq4/68C55zDYWdqWrNHec9lYDW/9e00cff4e8ec164cb798cdbd67bc2d94/Lyft_Night_Shot_Desktop.jpg?w=2500&q=75&fm=webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
   }

   .driver-flex-1 {
      flex: 1 1 0%;
   }

   .driver-flex-2 {
      flex: 1 1 0%;
   }

   @media screen and (min-width: 768px) {
      .driver-section-bg-image {
         background-image: url("https: //images.ctfassets.net/q8mvene1wzq4/5bdhhrAEPWVAn6lnUNRXmq/395b5ec79c6c26afbb652e34cd7c8f79/Lyft_Night_Shot_Mobile.jpg?w=1400&q=75&fm=webp");
      }
   }
}