@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   body {
      @apply text-cetaceanBlue;
      scroll-behavior: smooth;
   }

   a {
      @apply text-cetaceanBlue;
   }

   li {
      list-style: none;
   }

   input {
      @apply p-4 border border-gray rounded-2xl outline-0;
   }

   input::placeholder {
      @apply text-gray;
   }

}

@layer components {
   .nav-links {
      @apply font-bold hover:text-majorelleBlue;
      text-decoration: none;
      white-space: nowrap;
   }

   .sub-links {
      @apply h-full flex items-center;
   }

   .sub-links.active-sub-link {
      @apply border-2 border-majorelleBlue;
   }

   .sub-links a {
      text-decoration: none;
   }

   .translate {
      box-shadow: 0 0 1px 0 #0000001f, 0 5px 10px 0 #00000029;
   }
}